# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Root files and folders
to-do.md
misc/
memory/
ethereum/
lib/
prev_results/

# Specific Directories or files
.vscode/
cosmos/tmcrawl.toml
cosmos/analysis/*.json
cosmos/analysis/results/
cosmos/analysis/info/
cosmos/db/tmcrawl.db/
solana/config/SettingsConfig.json
cardano/config/SettingsConfig.json
avalanche/config/SettingsConfig.json
flow/config/SettingsConfig.json

# Output directories
results/
json/
cardano/output/
avalanche/output/

# Config
config/keys.json